@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body {
  background-color: #49c1a2 ;
  /* background-image: url('loginback.jpg'); */
  left: 50%;
  top: 50%;
  margin-left:0%;
  position: center;
  margin-top: +10%;
}

.login-box {
  width: 360px;
  height: 320px;
  margin: auto;
  border-radius: 3px;
  background-color: white;
}

h1 {
  text-align: center;
  padding-top: 15px;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #e432ae;
  color: white;
  font-size: 18px;
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: -10px;
}
.para-2 a {
  color: #49c1a2;
}
.regi
{
	outline: 0;
	background: rgb(223, 39, 152);
	width: 100%;
	border: none;
	padding: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
	transition: .5s;
  margin-top: +20;
}
